﻿@model shopping_Version2.Web.Models.Order.OrderlistViewModel
@{
    ViewData["Title"] = "Orderlist";
}
<h3>Orderlist</h3>
<table class="table" align="center">
    <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Order Date</th>

        <th>Order Item count</th>
        <th></th>

    </tr>
    <tbody>


        @foreach (var orderlist in Model.orderlist)
        {
            <tr>
                <td>@orderlist.Id</td>
                <td>@orderlist.customerId</td>

                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", orderlist.OrderDate))</td>
                <td><p align="center">@orderlist.orderItems.Count()</p></td>


                <td>


                    @Html.ActionLink("Details", "OrderDetails", new { Id = orderlist.Id }) |
                    @Html.ActionLink("Edit", "updateOrder", new { Id = orderlist.Id }) |
                    @Html.ActionLink("Delete", "deleteOrder", new { Id = orderlist.Id }) |



                </td>

            </tr>
        }

    </tbody>

</table>

