﻿@model shopping_Version2.Orders.Dto.OrderUDto
@{
    ViewData["Title"] = "updateOrder";
}

<h1 align="center">updateOrder</h1>
<div align="center">
    <div class="col">
        <label class="small font-weight-bold">Order Id</label>
        <input type="text" id="updateorderid" value="@Model.Id" disabled />
    </div>

    <div class="col">
        <label class="small font-weight-bold">Order Date</label>
        <input type="text" id="updatedate"
               value="@Model.OrderDate" disabled />
    </div>

    <div class="col">
        <label class="small font-weight-bold">Customer Id</label>
        <input type="text" id="updatecustomerid" value="@Model.customerId" disabled />

    </div>
</div>
<div class="col">

    <div class="addnewitem">
        <table align="center" class="table">
            <thead>
                <tr>
                    <th> Product ID</th>

                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Available</th>
                    <th>Sub Total</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        <select class="dropdown" id="Product-Picker" name="ProdcutId">
                            <option class="dropdown-item">Product</option>
                            @foreach (var product in Model.productlist)
                            {
                                <option class="dropdown-item" value="@product.Id" data-unit-price="@product.price"
                                        data-product-description="@product.Description" data-avaliable-quantity="@product.Quantity">
                                    @product.productName
                                </option>

                            }

                        </select>
                    </td>
                    <td><p name="productdesc" id="desc"></p></td>
                    <td>
                        @*<input type="number" [max]="limit" min="0" onchange="calculateTotal()"  id="selected-quantity">*@
                        <p>
                        <p>
                            <input type="button" class="minus" onclick="calculateTotal()" value="-" />
                            <input type="text" id="selected-quantity" @*onchange="calculateTotal()"*@ readonly="readonly" />
                            <input type="button" class="plus" onclick="calculateTotal()" value="+" />

                        </p>

                        </p>
                    </td>
                    <td><p name="ProductPrice" id="Price"></p></td>
                    <td><p name="ProductAvailable" id="available"></p></td>
                    <td><input type="text" id="subtotal" disabled /></td>
                    <td>
                        <input type="button" id="AddtoOrder" class="btn btn-success" style="position:relative;color:white"
                               value="Add" />
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <p id="itemCount" hidden>@Model.orderItems.Count()</p>
    <label class="small font-weight-bold">Order Items</label>
    <table class="table" align="center">
        <tr>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Sub Total</th>
            <th></th>
        </tr>

        <tbody id="updateorderBody">
            @foreach (var orderlist in Model.orderItems)
            {
                <tr>
                    <td><input type="text" id="updateproductid" value="@orderlist.productid" disabled /></td>
                    <td><input type="text" id="updatedqty" min="0" oninput="calculateupdateprice();" value="@orderlist.Quantity" /></td>
                    <td><input type="text" id="unitprice" value="@orderlist.UnitPrice" disabled /></td>

                    <td><input type="text" id="subtotal" disabled /></td>

                    <td>
                        <input type="button" name="Delete" value="Delete"
                               onclick="removeRow(this,@orderlist.Id,
                                            @orderlist.productid,@orderlist.Quantity,@orderlist.UnitPrice);" />

                    </td>
                    <td><input type="text" id="lineitemid" value="@orderlist.Id" disabled /></td>
                </tr>



                //  total = total + (ordalseerlist.subtotal);

            }


        </tbody>

    </table>@*removeorderline(@orderlist.OrderItemId);*@

</div>
<div align="center">
    <button id="update" onclick="updateorder();">Update</button>
    <button id="cancel" onclick=" redirectOnClick();">Cancel</button>
</div>

<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script type='text/javascript' src="~/js/edit.js"></script>

